<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerL">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>CDAC Exam Server</title>


  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% block cssscripts %}

  {% load static %}
  
  {% include 'login/fragments/css.html' %}

  {% endblock%}


  {% block customstyle %}

  {% endblock%}
</head>

<body>
  {% block navigation %}
    {%  include 'login/fragments/navigation.html' %}
 
    {%  include 'login/fragments/secondarynav.html' %}
 

  <div class="pageTitle">
    <div class="container">
      <h3><i class="fa {{pageicon}}" aria-hidden="true"></i> {{ pagetitle }} </h3>
    </div>
  </div>
  {% endblock %}

  <div class="container" id="mainContent">
    <div class="row">
      <div class="col-md-12 ">
        <div class="mycolclass">
          {% block content %}
          {% endblock %}
        </div>

      </div>
    </div>
  </div>

  <footer class="footer" th:fragment="footer">
    <div class="container">
      <p class="text-muted">


        &copy;
        <script>document.write(new Date().getFullYear())</script> <strong>Exam Server</strong> , DESIGNED &amp;
        DEVELOPED BY: <strong>C-DAC. </strong> <span class="pull-right">Best Viewed in : <i class="fa fa-chrome"
            aria-hidden="true"></i> 66+ | <i class="fa fa-firefox" aria-hidden="true"></i> 59+ </span> Software updated
        on <span th:text=""></span> </p>
    </div>


  </footer>

  {%block scripts %}
  {%  include 'login/fragments/js.html' %}
  <script type="text/javascript">
    $(document).ready(function () {

    });
  </script>
  {% endblock %}

  {% block customscript %}
  {% endblock %}



</body>

</html>