{% load static %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static  'exam/css/new/bootstrap.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static  'exam/css/new/ie10-viewport-bug-workaround.css' %}" type="text/css" /> 
<link rel="stylesheet" href="{% static  'exam/css/new/font-awesome.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static  'exam/css/new/style-exam.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static  'exam/css/new/styles.css' %}" type="text/css" />

<!--=======Pradeep===== -->
<!-- <link rel="stylesheet" href="{% static  'exam/css/new/jquery-ui.min.css' %}" type="text/css" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'exam/css/new/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'exam/css/new/buttons.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static  'exam/css/new/bootstrap-datetimepicker.min.css' %}" type="text/css" />


<!-- <link rel="shortcut icon" type="image/png" sizes="16x16" th:href="@{/images/exam.png}"/>
 -->
 