var table = $('#example,#example2,#example3').DataTable({
    dom: "<'row'<'col-sm-5'B>>" +
      "<'hr'>" +
      "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    buttons: [
      {
        extend: 'copyHtml5',
        text: '<i class="fa   text-info fa-file"></i>',
        titleAttr: 'Copy',
        exportOptions: {
          columns: 'th:not(:last-child)'
        }
      },
      {
        extend: 'csvHtml5',
        title: '{{pagetitle|cut:" "}}',
        text: '<i class="fa  text-warning fa-file-text"></i>',
        titleAttr: 'CSV',
        exportOptions: {
          columns: 'th:not(:last-child)'
        }
      },
      {
        extend: 'excelHtml5',
        title: '{{pagetitle|cut:" "}}',
        text: '<i class="fa text-success fa-file-excel-o"></i>',
        titleAttr: 'EXCEL',
        exportOptions: {
          columns: 'th:not(:last-child)'
        }
      },
      {
        extend: 'pdfHtml5',
        title: '{{pagetitle|cut:" "}}',
        text: '<i class="fa text-danger fa-file-pdf-o"></i>',
        titleAttr: 'PDF',
        exportOptions: {
          columns: 'th:not(:last-child)'
        }
      },
      {
        extend: 'colvis',
        title: 'Column Visiblity',
        text: '<span class="custom-button"> Column Visibility </span>',
        postfixButtons: ['colvisRestore']

      }
    ],
    "language": {
      "search": '<i class="fa fa-search"></i>',
      "searchPlaceholder": "search",
      "paginate": {
        "previous": '<i class="fa fa-angle-left"></i>',
        "next": '<i class="fa fa-angle-right"></i>'
      }
    },
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    "order": [[0, 'asc']],

  });