<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerL">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title >CDAC Exam Server</title>


<meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet"	th:href="@{/css/bootstrap.min.css}"/>

 <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>
<link rel="stylesheet"	th:href="@{/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/css/login.css}" />
 <link rel="shortcut icon" type="image/png" sizes="16x16" th:href="@{/images/exam.png}"/>




</head>

<body>


</body>

</html>