{% load static %}
 <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

<script type="text/javascript" src="{% static 'exam/js/new/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/ie10-viewport-bug-workaround.js' %}"></script>


<script type="text/javascript" src="{% static 'exam/js/new/jquery.validate.min.js' %}"></script>



<script type="text/javascript" src="{% static 'exam/js/new/additional-methods.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'exam/js/new/jquery-ui.min.js' %}"></script> -->

<!-- <script type="text/javascript" src="{% static 'exam/js/new/jquery.dataTables.min.js' %}"></script> -->

<script>window.jQuery || document.write("<script src="+"{% static 'exam/js/new/dataTables.bootstrap.min.js' %}"+"><\/script>")</script>

<!-- ====pradeep===== -->
<script type="text/javascript" src="{% static 'exam/js/new/bootbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/buttons.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/buttons.colVis.min.js' %}"></script>

<script type="text/javascript" src="{% static 'exam/js/new/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exam/js/new/bootstrap-datetimepicker.min.js' %}"></script>
