{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>Error!</strong> {{ error }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>Error!</strong> {{ error }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endfor %}
{% endif %}
{%for message in messages %}
{% if 'info' in message.tags %}
<div class="alert alert-info alert-dismissible fade show" role="alert-info">
   <strong>Info!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endif %}
{% if 'success' in message.tags %}
<div class="alert alert-success alert-dismissible fade show" role="alert-success">
   <strong>Success!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endif %}
{% if 'error' in message.tags %}
<div class="alert alert-danger alert-dismissible fade show" role="alert-danger">
   <strong>Error!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endif %}
{% endfor %}
