<nav class=" navbar-inverse navbar-fixed-top-custom  navbar fixed-top navbar-expand-lg">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-left logo">
                <!-- <img th:src="@{/images/rsz_1iaf-logo.png}" alt="logo" /> -->
            </div>
            <span class="brand brand-name navbar-left">
                <a class="navbar-brand visible-md visible-lg" href="">
                    CDAC Exam Software
                </a>
            </span>
        </div>

        <ul class=" navbar-nav ml-auto custom-navbar-right">
            {% if user.is_authenticated %}
            <li><a href="#void" class="nav-link logout-link">{{user.username}}</a></li>
            {% endif %}


            <li>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><i
                        class="fa fa-user-circle" aria-hidden="true"></i> <span th:text="${#authentication?.name}"></span>
                <span class="caret"></span> </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-right-custom">
                    <a class="dropdown-item" href="">
                    	<i class="fa-new spriteNew presetblack20" aria-hidden="true"></i> Change
                    Password
                	</a>
                    <a class="dropdown-item" href="">
                    <i class="fa-new spriteNew presetblack20" aria-hidden="true"></i> User - Reset Password</a> 
                    <a class="dropdown-item" href=""><i class="fa fa-user-plus" aria-hidden="true"></i> User - Registration</a>
                    <a class="dropdown-item" href=""><i class="fa fa-users" aria-hidden="true"></i>  User - List</a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}" class="nav-link logout-link"><i class="fa fa-sign-out" aria-hidden="true"></i> 
                Logout</a></li>
            {% endif %}
            
        </ul>
    </div>
</nav>