<nav class="    navbar-expand-lg navbar navbar-light mycustompage-header" role="navigation">
  <div class="container">

    <ul class="navbar-nav w-100 mycustompage-header-sub">


      <li class="nav-item dropdown ">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Exam Details <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-left">




          <a class="dropdown-item" href="{% url 'examdet' %}">Exam Details</a>


          <a class="dropdown-item" href="{% url 'region' %}">Region</a>


          <a class="dropdown-item" href="{% url 'examcenter' %}">Exam Center</a>

        </div>
      </li>

      <li class="nav-item dropdown ">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Exam Paper <span class="caret"> </span></a>
        <div class="dropdown-menu dropdown-menu-left">



          <a class="dropdown-item" href="{% url 'paperdet' %}">Paper Details</a>


          <a class="dropdown-item" href="{% url 'slotdet' %}">Slot</a>


          <a class="dropdown-item" href="{% url 'slotmap' %}">Slot Paper Mapping</a>


          <a class="dropdown-item" href="{% url 'centermap' %}">Center Mapping</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Role Mapping <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-left">


          <a class="dropdown-item" href="{% url 'examrole' %}">Exam Role</a>


          <a class="dropdown-item" href="{% url 'exammember' %}">Exam Member</a>


          <a class="dropdown-item" href="{% url 'centerrole' %}">Center Role Mapping</a>

        </div>
      </li>

      <li class="nav-item dropdown ">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Candidate <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-left">


          <a class="dropdown-item" href="{% url 'candidate' %}"> Candidate Details </a>


          <a class="dropdown-item" href="{% url 'candidatecentermap' %}">
            Candidate Center Mapping</a>

          <a class="dropdown-item" href="{% url 'candidatefetch' %}">
            Candidate Data</a>


          <a class="dropdown-item" href="{% url 'qpaper' %}">Question Paper Upload</a>
        </div>
      </li>
      <li class="nav-item dropdown ">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Generate OTP<span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-left">


          <a class="dropdown-item" href="{% url 'otp_page' %}">OTP</a>


          <a class="dropdown-item" href="{% url 'ladminform' %}">Local Admin</a>

        </div>
      </li>
    </ul>

  </div>
</nav>