{% extends "login/base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.5.1.js">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js">
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<header>
      <h1>Asset Details</h1>
</header>

<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" value="Submit">Save</button>

</form>
<div class="table-responsive">
    <!-- <input type="text" id="myInput" placeholder="Search.." title="Type in a name"> -->
    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <th class="text-center">organisationaname</th>
            <th class="text-center">departmentname</th>
            <th class="text-center">url</th>
            <th class="text-center">tnsdcip</th>
            <th class="text-center">nms</th>
            <th class="text-center">nmsdate</th>
            <th class="text-center">assetusage</th>
            <th class="text-center">othersdetails</th>
            <th class="text-center">departmentcontact</th>
            <th class="text-center">developer</th>
            <th class="text-center">siem</th>
            <th class="text-center">siemdate</th>
            <th class="text-center">Modified</th>
            <th class="text-center">User</th>
            <th class="text-center">Remarks</th>
        </thead>
        <tbody>
            {% for m in asset %}
            <tr>
                <td class="text-center">{{ m.organisationaname }}</td>
                <td class="text-center">{{ m.departmentname }}</td>
                <td class="text-center">{{ m.url }}</td>
                <td class="text-center">{{ m.tnsdcip }}</td>
                <td class="text-center">{{ m.nms }}</td>
                <td class="text-center">{{ m.nmsdate|date:'d-m-y' }}</td>
                <td class="text-center">{{ m.assetusage }}</td>
                <td class="text-center">{{ m.othersdetails }}</td>
                <td class="text-center">{{ m.departmentcontact }}</td>
                <td class="text-center">{{ m.developer }}</td>
                <td class="text-center">{{ m.siem }}</td>
                <td class="text-center">{{ m.siemdate|date:'d-m-y' }}</td>
                <td class="text-center">{{ m.modificationdate }}</td>
                <td class="text-center">{{ request.session.username }}</td>

                <td>
                    <a class="btn btn-warning btn-sm btn-circle" href="/member/editasset/{{m.id}}">Edit</a>
                    <a class="btn btn-sm btn-danger btn-circle" href="/member/deleteasset/{{m.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>organisationaname</th>
                <th>departmentname</th>
                <th>url</th>
                <th>tnsdcip</th>
                <th>nms</th>
                <th>nmsdate</th>
                <th>assetusage</th>
                <th>othersdetails</th>
                <th>departmentcontact</th>
                <th>developer</th>
                <th>siem</th>
                <th>siemdate</th>
                <th>Modified</th>
                <th>User</th>
                <th>Remarks</th>

            </tr>
        </tfoot>
    </table>
</div>
<script>

    // function mySearch() {
    //     var input, filter, table, tr, td, i, txtValue;
    //     input = document.getElementById("myInput");
    //     filter = input.value.toUpperCase();
    //     table = document.getElementById("example");
    //     tr = table.getElementsByTagName("tr");
    //     for (i = 0; i < tr.length; i++) {
    //         td = tr[i].getElementsByTagName("td")[0];
    //         if (td) {
    //             txtValue = td.textContent || td.innerText;
    //             if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //                 tr[i].style.display = "";
    //             } else {
    //                 tr[i].style.display = "none";
    //             }
    //         }
    //     }
    // }
    // $(document).ready(function () {
    //     $("#myInput").on("keyup", function () {
    //         var value = $(this).val().toLowerCase();
    //         $("#myTable tr").filter(function () {
    //             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //         });
    //     });
    // });
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#example').DataTable({
            initComplete: function () {
                // Apply the search
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },
        });
    });
</script>
{% endblock %}