<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSA-TN</title>
    <style>
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  
}

li {
  display: inline;
}
ul li a { 
		padding: 10px; 
		list-style:none; 
	} 
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- <ul class="nav navbar-nav"> -->

{# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'index' %}">CSA-TN</a></li>
     
          <li><a class="navbar-link" href="{% url 'login:register' %}">REGISTER</a></li>     
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
          <ul>
            <li><a href="/member/exammember">Department</a></li>
            <li><a href="/member/iso">ISO</a></li>
            <li><a href="/member/ciso">CISO</a></li>
            <li><a href="/member/asset">Asset</a></li>
            <li><a href="/member/vul">Vulnerability</a></li>
            <li><a href="/member/vul1">Vulnerability Report</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'login:user_login' %}">LOGIN</a></li>
          {% endif %}
</ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>
