{% extends 'login/base.html' %} 
{% load static %}
{% block body_block %}
{% load crispy_forms_tags %}

<div class="top-bottom-margin">
  <form method="POST" id="myform" action="/member/updateiso/{{ id }}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group row">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="Update" />
      </div>
    </div>
  </form>
</div>
{% endblock %}