{% extends "login/base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.5.1.js">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js">
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<header>
     <h1>Department Details</h1>
</header>
<form method="POST" class="post-form">
   {% csrf_token %}
   {{ form|crispy }}
   <button class="btn btn-primary" type="submit" value="Submit">Save</button>

</form>
<div class="table-responsive">
   <!-- <input type="text" id="myInput"  placeholder="Search .." title="Type in a name"> -->
   
   <table id="example" class="table table-striped table-bordered" cellspacing="0">
      <thead>
         <th class="text-center">departmentid</th>
         <th class="text-center">departmentcode</th>
         <th class="text-center">organisationaname</th>
         <th class="text-center">departmentname</th>
         <th class="text-center">phone_number</th>
         <th class="text-center">date</th>
         <th class="text-center">email</th>
         <th class="text-center">Modified Date</th>
         <th class="text-center">Username</th>
         <th class="text-center">Remarks</th>
      </thead>
      <tbody>
         {% for m in member %}
         <tr>
            <td class="text-center">{{ m.departmentid }}</td>
            <td class="text-center">{{ m.departmentcode }}</td>
            <td class="text-center">{{ m.organisationaname }}</td>
            <td class="text-center">{{ m.departmentname }}</td>
            <td class="text-center">{{ m.phone_number }}</td>
            <td class="text-center">{{ m.date|date:'d-m-y' }}</td>
            <td class="text-center">{{ m.email }}</td>
            <td class="text-center">{{ m.modificationdate }}</td>
            <td class="text-center">{{ request.session.username }}</td>

            <td>
               <a class="btn btn-warning btn-sm btn-circle" href="/member/editmember/{{m.id}}">Edit</a>
               <a class="btn btn-sm btn-danger btn-circle" href="/member/deletemember/{{m.id}}">Delete</a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
      <tfoot>
         <tr>
            <th>departmentid</th>
            <th>departmentcode</th>
            <th>organisationaname</th>
            <th>departmentname</th>
            <th>phone_number</th>
            <th>date</th>
            <th>email</th>
            <th>Modified Date</th>
            <th>User</th>
            <th>Remarks</th>

         </tr>
      </tfoot>
   </table>
</div>


<script>
     $(document).ready(function () {
      // Setup - add a text input to each footer cell
      $('#example tfoot th').each(function () {
         var title = $(this).text();
         $(this).html('<input type="text" placeholder="Search ' + title + '" />');
      });

      // DataTable
      var table = $('#example').DataTable({

         initComplete: function () {

            // Apply the search
            this.api()
               .columns()
               .every(function () {
                  var that = this;

                  $('input', this.footer()).on('keyup change clear', function () {
                     if (that.search() !== this.value) {
                        that.search(this.value).draw();
                     }
                  });
               });
         },
      });
   });
     

   </script>
{% endblock %}