{% extends "login/base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Datatable Dependency start -->
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

<!-- Datatable Dependency end -->


<div class="container">

    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h4>Data Table Export</h4>
                <p>Data table with print, pdf, csv</p>
            </div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" value="Submit">Save</button>
             
             </form>    
            <div class="card-body">

                <table class="table table-bordered table-hover" id="table_id">
                    <thead>
                        <tr>
                            <th class="text-center">Vulnerability Id</th>
                            <th class="text-center">Vulnerability name</th>
                            <th class="text-center">Department Name</th>
                            <th class="text-center">Report By</th>
                            <th class="text-center">Reported Date</th>
                            <th class="text-center">Modified Date</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Remarks</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for m in vul %}
                        <tr>
                            <td class="text-center">{{ m.vulid }}</td>
                            <td class="text-center">{{ m.vulname }}</td>
                            <td class="text-center">{{ m.departmentname }}</td>
                            <td class="text-center">{{ m.reportby }}</td>
                            <td class="text-center">{{ m.reporteddate|date:'d-m-y' }}</td>
                            <td class="text-center">{{ m.modificationdate }}</td>
                            <td class="text-center">{{ request.session.username }}</td>


                            <td>
                                <a class="btn btn-warning btn-sm btn-circle" href="/member/editvul/{{m.id}}">Edit</a>
                                <a class="btn btn-sm btn-danger btn-circle" href="/member/deletevul/{{m.id}}">Delete</a>
                            </td>
                        </tr>


                        {% endfor %}    
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({

            dom: 'Bfrtip',
            responsive: true,
            pageLength: 25,
            // lengthMenu: [0, 5, 10, 20, 50, 100, 200, 500],

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]

        });
    });
</script>
{% endblock %}

//     $("#id_departmentname").change(function () {
    // 		var url = "{% url 'load_members' %}"  // get the url of the `load_cities` view
    // 		var departmentname = $(this).val();  // get the selected country ID from the HTML input
    // 		var token = "{{csrf_token}}";
    // 		$.ajax({                       // initialize an AJAX request
    // 			type:"POST",
    // 			headers: {
    // 				'X-CSRFToken':"{{csrf_token}}"
    // 			},
    // 			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    // 			data: {
    // 				'departmentname': departmentname       // add the country id to the GET parameters
    // 			},
    // 			success: function (data) { // `data` is the return of the `load_cities` view function
                    
    // 				$("#id_departmentname").html(data);
    // 				console.log(data);
    // 			}
    // 		});
    //   });