{% extends "login/base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

    <div class="container">

      <div class="col-md-12">
          <div class="card">
  
              <div class="card-header">
                 <h1>Vulnerability Details</h1>
                  
              </div>
              <form method="POST" class="post-form">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-primary" type="submit" value="Submit">Save</button>
               
               </form>    
              <div class="card-body">
  
                  <table class="table table-bordered table-hover" id="example">
                      <thead>
                          <tr>
                              <th class="text-center">Vulnerability Id</th>
                              <th class="text-center">Vulnerability name</th>
                              <th class="text-center">Department Name</th>
                              <th class="text-center">Report By</th>
                              <th class="text-center">Reported Date</th>
                              <th class="text-center">Modified Date</th>
                              <th class="text-center">User</th>
                              <th class="text-center">Active</th>
                              <th class="text-center">Remarks</th>
  
                          </tr>
                      </thead>
                      <tbody>
                          {% for m in vul1 %}
                          <tr>
                              <td class="text-center">{{ m.vulid }}</td>
                              <td class="text-center">{{ m.vulname }}</td>
                              <td class="text-center">{{ m.departmentname }}</td>
                              <td class="text-center">{{ m.reportby }}</td>
                              <td class="text-center">{{ m.reporteddate|date:'d-m-y' }}</td>
                              <td class="text-center">{{ m.modificationdate }}</td>
                              <td class="text-center">{{ m.modified_user.username }}</td>
                              <td class="text-center">{{ m.active }}</td>
  
  
                              <td>
                                  <a class="btn btn-warning btn-sm btn-circle" href="/member/editvul1/{{m.id}}">Edit</a>
                                  <a class="btn btn-sm btn-danger btn-circle" href="/member/deletevul1/{{m.id}}">Delete</a>
                              </td>
                          </tr>
  
  
                          {% endfor %}    
                      </tbody>
                      
                  </table>
  
              </div>
  
          </div>
      </div>
  
  </div>
<script>
   $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}